.header__square-pic {
    height: 568px;
    width: 568px;
    position: absolute;
    background-color: #2f80ed;
    align-self: flex-start;
    top: 64px;
    right: 0;
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}