.footer__column-link {
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}

.footer__column-link:hover {
    opacity: 0.3;
    transition: .3s;
}

.footer__column-link:last-child {
    margin-bottom: 16px;
}