.feynman__link {
    margin: auto;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    right: 48px;
    top: 50%;
    /*таким приемом мы указали высоту элемента на середине высоты родителя */
    color: #2f80ed;
    text-decoration: none;
}

.feynman__link:hover {
    opacity: 0.3;
    transition: .3s;
}