.footer__columns {
    padding: 0;
    margin: 0px auto;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*благодаря ДЖАСТИФАЙ КОНТЕНТ А НЕ ЭЛАЙН СЕЛФ спэйс бетвин мы задали расстояние одинаковое между блоками */
}