.table__cell {
    text-align: left;
    margin-top: 60px;
    width: 250px;
    /*  благодаря этому свойству мы определили, что в одной линии может быть не более четырех блоков, так как ширина контейнера 1100 пикселей */
}