.cards__image {
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
    margin-bottom: 43px;
    height: 160px;
    width: 160px;
    border-radius: 50%;
}